/* Estilo general del Pane */
Pane {
    -fx-background-color: linear-gradient(to bottom, #0073e6, #ffcc00);
}

/* Estilo para las etiquetas */
Label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* Blanco para contrastar con el fondo */
    -fx-font-weight: bold;
}

/* Estilo para el título */
Label:nth-child(5) {
    -fx-font-size: 22px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

/* Estilo para los campos de texto y contraseña */
TextField, PasswordField {
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-background-radius: 15px;
    -fx-background-color: white; /* Fondo blanco por dentro */
    -fx-background-insets: 1; /* Agregado: Insets para forzar fondo blanco */
    -fx-text-fill: black; /* Texto negro */
    -fx-border-color: #005bb5;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: #888888; /* Color de texto del placeholder */
}

/* Eliminar cualquier imagen interna en los campos de texto */
TextField, PasswordField {
    -fx-background-image: none;
}

/* Estilo para los botones en general */
Button {
    -fx-background-color: #005bb5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-border-color: #003d82;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

/* Tamaño específico para los botones de cerrar y minimizar */
Button[onAction="#cerrar"], Button[onAction="#minimizar"] {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-pref-width: 60px; /* Ahora tienen un ancho de 60px */
    -fx-pref-height: 25px;
}

/* Tamaño específico para el botón de validar */
Button[onAction="#validar"] {
    -fx-pref-width: 220px; /* Mantiene su tamaño original */
    -fx-pref-height: 35px;
}

/* Efecto hover en los botones */
Button:hover {
    -fx-background-color: #ffcc00;
    -fx-border-color: #b58900;
    -fx-text-fill: black;
}

/* Estilo hover en los botones de cerrar y minimizar */
Button[onAction="#cerrar"]:hover {
    -fx-background-color: #d70707;
}

Button[onAction="#minimizar"]:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

/* Estilo para el mensaje de error */
Label#textoError {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}